@using BikeShare.Models.ViewModel
@model BikeShare.Models.ViewModel.Mail.orgDailyReport
<h1>@Model.org.name's Daily Report</h1>

<h2>Smiles</h2>
<p>Here are today's smiles:</p>
<table class="table">
    <tr>
        <th role="columnheader">
            @Html.Label("Location")
        </th>
        <th role="columnheader">
            @Html.Label("Title")
        </th>
        <th role="columnheader">
            @Html.Label("Details")
        </th>
        <th role="columnheader">
            @Html.Label("Date/Time")
        </th>
    </tr>
    @foreach (var item in Model.smiles)
    {
    <tr>
        <td>
            @item.point.name
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.subject)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.body)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateSubmitted)
        </td>
    </tr>
    }

    </table>
<h2>Frowns</h2>
<p>Here are today's frowns</p>
<table class="table">
    <tr>
        <th role="columnheader">
            @Html.Label("Location")
        </th>
        <th role="columnheader">
            @Html.Label("Title")
        </th>
        <th role="columnheader">
            @Html.Label("Details")
        </th>
        <th role="columnheader">
            @Html.Label("Date/Time")
        </th>
    </tr>
    @foreach (var item in Model.frowns)
    {
        <tr>
            <td>
                @item.point.name
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.subject)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.body)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateSubmitted)
            </td>
        </tr>
    }

</table>
<h2>Top Feedback Location</h2>
<p>The location with the most feedback today was @Model.topPoint.name with @Model.topPoint.SmileCount smiles and @Model.topPoint.FrownCount frowns.</p>