@model BikeShare.Models.Workshop

@{
    ViewBag.Title = "Archive a Workshop";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section menuSection{
    @Html.Partial("_AdminMenuPartial")
}
<h1><span class="glyphicon glyphicon-book"></span> @ViewBag.Title</h1>
<hr />
@using (Html.BeginForm())
{
    @Html.HiddenFor(m => m.workshopId)
    <h2>Warning!</h2>
    <p>Archiving bike "@Model.name" will have the following consequences:</p>
    <ul>
        <li>This workshop will not be available to mechanics when reporting work.</li>
        <li>The workshop will not show up in the main list.</li>
        <li>All associated bikes, maintenance events, and mechanics WILL remain unaffected.</li>
    </ul>
    <em>Treat this action as if it were a deletion!</em>
    <hr />
    <div>
        <a class="btn btn-default" href="@Url.Action(actionName: "Index", controllerName: "Admin")"><span class="glyphicon glyphicon-arrow-left"></span>  Back to Dashboard</a>
        <button type="submit" value="Archive Workshop" class="btn btn-danger" role="button"><span class="glyphicon glyphicon-save"></span> Save</button>
    </div>
}