@model BikeShare.Models.bikeUser

@{
    ViewBag.Title = "Archive " + @Model.userName;
    Layout = null;
}
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <h4 class="modal-title" id="myModalLabel"><span class="glyphicon glyphicon-book"></span> Archive User</h4>
</div>

@using (Html.BeginForm())
    {
        <div class="modal-body">
        @Html.HiddenFor(model => model.bikeUserId)
        <h3>Warning!</h3>
        <p>Archiving user "@Model.userName" will have the following consequences:</p>
        <ul>
            <li>@Model.userName will not be able to interact with the site in ANY way.</li>
            <li>You will not be able to assess fees for @Model.userName</li>
            <li>@Model.userName can not do any work as a mechanic, checkout person, administrator, or user.</li>
        </ul>
        <div class="alert alert-danger"><span class="glyphicon glyphicon-warning-sign"></span> <em>Treat this action as if it were a deletion!</em></div>
    </div>
     <div class="modal-footer">
        <button type="submit" value="Archive User" class="btn btn-danger" role="button"><span class="glyphicon glyphicon-save"></span> Save</button>
    </div>
}
