@using BikeShare.Views
@model BikeShare.ViewModels.rackListingViewModel

@{
    ViewBag.Title = "Bike Racks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section menuSection{
    @Html.Partial("_AdminMenuPartial")
}
<h2 class="text-center"><span class="glyphicon glyphicon-list pull-left"></span> @ViewBag.Title <a class="btn btn-primary pull-right" href="@Url.Action(actionName: "newRack", controllerName: "Admin")"><span class="glyphicon glyphicon-asterisk"></span>  New</a></h2>
<hr />
<div class="row">
@foreach (var rack in Model.bikeRacks)
{
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading"><h4 class="panel-title">@rack.name</h4></div>
            <div class="text-right panel-footer">
                <a class="btn btn-default" href="@Url.Action(actionName: "bikeList", controllerName: "Admin", routeValues: new { rackId = rack.bikeRackId })"><span class="glyphicon glyphicon-list"></span>  Bikes</a>
                <a class="btn btn-default" href="@Url.Action(actionName: "editRack", controllerName: "Admin", routeValues: new { rackId = rack.bikeRackId })"><span class="glyphicon glyphicon-pencil"></span>  Edit</a>
                <a class="btn btn-danger" href="@Url.Action(actionName: "ArchiveRack", controllerName: "Admin", routeValues: new { rackId = rack.bikeRackId })"><span class="glyphicon glyphicon-trash"></span>  Archive</a>
            </div>
        </div>
    </div>

}
    </div>
<hr />
<div>@Html.PageLinks(Model.pagingInfo, x => Url.Action("bikeList", new { page = x }))</div>