@using BikeShare.Views

@model List<BikeShare.ViewModels.Admin.AdminBikeVM>

@{
    ViewBag.Title = "Bikes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section menuSection{
    @Html.Partial("_AdminMenuPartial")
}

<h2><span class="glyphicon glyphicon-road pull-left"></span>  @ViewBag.Title <a class="btn btn-primary pull-right" data-toggle="modal" data-target="#siteModal" href="@Url.Action("newBike")"><span class="glyphicon glyphicon-asterisk"></span>  New</a></h2>
<div class="row">
@foreach (var bike in Model)
{
    <div class="col-md-6">
    <div class="panel @(bike.IsAvailable ? "panel-success" : "panel-danger")">
        <div class="panel-heading">
            <h4 class="panel-title">Bike #@bike.Number - @bike.Name
                @if (bike.IsArchived)
                { <span class="label label-danger pull-right">Archived</span>}
            </h4>
        </div>
        <div class="panel-body">
            <form class="form-horizontal ">
                <div class="form-group">
                    <label class="col-sm-6 control-label">Last Borrowed:</label>
                    <div class="col-sm-6 form-control-static">
                        <span>@(bike.LastBorrowed.HasValue ? bike.LastBorrowed.Value.ToShortDateString() : "Never")</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-6 control-label">Last Borrowed By:</label>
                    <div class="col-sm-6 form-control-static">
                        <span>@(String.IsNullOrEmpty(bike.LastCheckedOutTo) ? bike.LastCheckedOutTo : "No one")</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-6 control-label">Internal Bike Id:</label>
                    <div class="col-sm-6 form-control-static">
                        <span>@bike.Id</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-6 control-label">Notes:</label>
                    <div class="col-sm-6 form-control-static">
                        <span>@bike.Notes</span>
                    </div>
                </div>
            </form>
        </div>
        <div class="text-right panel-footer">
            <a class="btn btn-default" href="@Url.Action(actionName: "infoBike", controllerName: "Admin", routeValues: new { bikeId = bike.Id })"><span class="glyphicon glyphicon-list"></span>  Details</a>
            <a class="btn btn-primary" data-toggle="modal" data-target="#siteModal" href="@Url.Action("editBike", new { bikeId = bike.Id})"><span class="glyphicon glyphicon-pencil"></span>  Edit</a>
        </div>
    </div>
    </div>
}
</div>
