@model BikeShare.Models.BikeRack

@{
    ViewBag.Title = "Edit Rack - " + Model.name;
    Layout = "~/Views/Shared/_Layout.cshtml";
    @section mapsSection {
        <style type="text/css">
            #map-canvas {
            }
        </style>
        <script type="text/javascript"
                src="https://maps.googleapis.com/maps/api/js?key=@BikeShare.Code.Secrets.GMapsAPI.ToString()&sensor=false">
        </script>
        <script type="text/javascript">
    function initialize() {
        var mapOptions = {
            center: new google.maps.LatLng(@Model.GPSCoordX + 0, @Model.GPSCoordY + 0),
            zoom: 15
        };
        var map = new google.maps.Map(document.getElementById("map-canvas"),
            mapOptions);

        var marker = new google.maps.Marker({
            position: new google.maps.LatLng(@Model.GPSCoordX + 0, @Model.GPSCoordY + 0),
            map: map,
            draggable:true,
            title:"Drag me!"
        })



        google.maps.event.addListener(marker, 'dragend', function(e) {
            moveMarker(e.latLng, map)})
        function moveMarker(position, map) {
            oFormObject = document.forms[0];
            oformElementLat= oFormObject.elements["GPSCoordX"];
            oformElementLong = oFormObject.elements["GPSCoordY"];
            oformElementLat.value = position.lat();
            oformElementLong.value = position.lng();
        }
    }
    google.maps.event.addDomListener(window, 'load', initialize);
        </script>

    }
}
@section menuSection{
@Html.Partial("_AdminMenuPartial")
    
}
@using (Html.BeginForm())
{
<h3 class="text-center"><span class="glyphicon glyphicon-pencil pull-left"></span> Editing Rack @Model.name <button type="submit" value="Save Changes" class="btn btn-primary pull-right" role="button"><span class="glyphicon glyphicon-save"></span> Save</button></h3>
<hr />
    <div class="panel panel-default">
        <div class="panel-heading"><h4 class="panel-title"><span class="glyphicon glyphicon-map-marker"></span> Map</h4></div>
        <div id="map-canvas" style="height: 400px"></div>
        <div class="panel-footer text-right">Drag marker to move rack.</div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading"><h4 class="panel-title"><span class="glyphicon glyphicon-list-alt"></span> Details</h4></div>
        <div class="panel-body">
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.bikeRackId)

            @Html.ValidationMessageFor(model => model.GPSCoordX)
            @Html.ValidationMessageFor(model => model.GPSCoordY)
            <div class="form-horizontal">
                @Html.ValidationSummary(true)
                <div class="form-group">
                    @Html.LabelFor(model => model.name, htmlAttributes: new { @class = "control-label col-sm-4" })
                    <div class="col-sm-8">
                        @Html.TextBoxFor(model => model.name, new { @class = "form-control"})
                        @Html.ValidationMessageFor(model => model.name)
                    </div>
                </div>
                @Html.HiddenFor(model => model.GPSCoordX)
                @Html.HiddenFor(model => model.GPSCoordY)
                <div class="form-group">
                    @Html.LabelFor(model => model.description, htmlAttributes: new { @class = "control-label col-sm-4" })
                    <div class="col-sm-8">
                        @Html.TextBoxFor(model => model.description, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.description)
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading"><h4 class="panel-title"><span class="glyphicon glyphicon-picture"></span> Header Image</h4></div>
        <img class="img-responsive" src="@Url.Content("~/Content/Images/Racks/" + Model.bikeRackId.ToString() + ".jpg")" />
        <div class="panel-footer text-right">
            <a class="btn btn-primary" data-toggle="modal" data-target="#siteModal" href="@Url.Action("uploadImage", new { rackID = Model.bikeRackId})"><span class="glyphicon glyphicon-upload"></span>  Upload</a>
        </div>
    </div>
}
    <div class="panel panel-default">
        <div class="panel-heading"><h4 class="panel-title"><span class="glyphicon glyphicon-time"></span> Hours</h4></div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Days</th>
                    <th>Hours</th>
                    <th>Comment</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @if (Model.hours != null)
                {
                    foreach (var hour in Model.hours)
                    {
                        <tr>
                            <td>
                                @if (hour.dayStart == hour.dayEnd)
                                {
                                    @hour.dayStart.ToString()
                                }
                                else
                                {
                                    <text>@hour.dayStart.ToString() - @hour.dayEnd.ToString()</text>
                                }
                        </td>
                        <td>@hour.hourStart.ToString():@hour.minuteStart.ToString() - @hour.hourEnd.ToString():@hour.minuteEnd.ToString()</td>
                        <td>@hour.comment</td>
                            <td class="text-right">
                                @using (Html.BeginForm("hourDelete", "Admin", new { rackId = Model.bikeRackId, hourId = hour.hourId }, FormMethod.Post, new { id = hour.hourId.ToString() + "hourForm"}))
                                {
                                    @Html.AntiForgeryToken()
                                    <button type="submit" value="Delete" class="btn btn-danger" role="button"><span class="glyphicon glyphicon-trash"></span></button>
                                }
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
        <div class="panel-footer text-right">
            <a class="btn btn-primary" data-toggle="modal" data-target="#siteModal" href="@Url.Action("newHour", new { rackId = Model.bikeRackId})"><span class="glyphicon glyphicon-asterisk"></span>  New</a>
        </div>
    </div>

