@model BikeShare.ViewModels.Admin.AdminBikeDetailsVM

@{
    ViewBag.Title = "Info for Bike #" + Model.Number.ToString();
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section menuSection{
    @Html.Partial("_AdminMenuPartial")
}
<h2 class="text-center"><span class="glyphicon glyphicon-info-sign pull-left"></span> @ViewBag.Title</h2>
<hr />
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title"><span class="glyphicon glyphicon-info-sign"></span> Bike
                    @if (Model.IsArchived)
                    { <span class="label label-danger pull-right">Archived</span>}
                </h4>
            </div>
            <div class="panel-body">
                <form class="form-horizontal ">
                    <div class="form-group">
                        <label class="col-sm-6 control-label">Last Borrowed:</label>
                        <div class="col-sm-6 form-control-static">
                            <span>@(Model.LastBorrowed.HasValue ? Model.LastBorrowed.Value.ToShortDateString() : "Never")</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-6 control-label">Last Borrowed By:</label>
                        <div class="col-sm-6 form-control-static">
                            <span>@(String.IsNullOrEmpty(Model.LastCheckedOutTo) ? Model.LastCheckedOutTo : "No one")</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-6 control-label">Internal Bike Id:</label>
                        <div class="col-sm-6 form-control-static">
                            <span>@Model.Id</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-6 control-label">Notes:</label>
                        <div class="col-sm-6 form-control-static">
                            <span>@Model.Notes</span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="panel-footer text-right">
                <a class="btn btn-primary" href="@Url.Action(actionName: "editBike", controllerName: "Admin", routeValues: new { bikeId = Model.Id })"><span class="glyphicon glyphicon-pencil"></span>  Edit Bike</a>
                <a class="btn btn-danger" href="@Url.Action(actionName: "archiveBike", controllerName: "Admin", routeValues: new { bikeId = Model.Id})"><span class="glyphicon glyphicon-trash"></span>  Archive</a>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading"><h4 class="panel-title"><span class="glyphicon glyphicon-stats"></span> Stats</h4></div>
            <div class="panel-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-sm-6">Total Maintenance: </label>
                        <div class="col-sm-6 form-control-static">
                            @Model.CountOfMaintenance
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-6">Total Inspections: </label>
                        <div class="col-sm-6 form-control-static">
                            @Model.CountOfInspections
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-6">Total Rentals: </label>
                        <div class="col-sm-6 form-control-static">
                            @Model.CountOfRentals
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    @if (Model.CountOfMaintenance > 0)
    {
        <h3>Maintenance</h3>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <td>Title</td>
                    <td>Resolved?</td>
                    <td>Date</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var maint in Model.Maintenance)
                {
                    <tr class="@(maint.Resolved ? "success" : "danger")">
                        <td>@maint.Title</td>
                        <td>@(maint.Resolved ? "yes" : "no")</td>
                        <td>@maint.Date.ToShortDateString()</td>
                    </tr>
                }
            </tbody>
        </table>
    }

    @if (Model.CountOfInspections > 0)
    {
        <h3>Inspections</h3>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <td>Date</td>
                    <td>Passed?</td>
                    <td>Comment</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var spec in Model.Inspections)
                {
                    <tr class="@(spec.Passed ? "success" : "danger")">
                        <td>@spec.Performed.ToShortDateString()</td>
                        <td>@(spec.Passed ? "yes" : "no")</td>
                        <td>@spec.Comment</td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>