@model BikeShare.Models.MaintenanceEvent

@{
    ViewBag.Title = "Maintenance Details - " + Model.title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section menuSection{
    @Html.Partial("_AdminMenuPartial")
}
<h2 class="text-center"><span class="glyphicon glyphicon-wrench pull-left"></span> @ViewBag.Title</h2>
<hr />
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Details</h3>
    </div>
    <div class="panel-body">
        @if (Model.resolved)
        {
            <div class="alert alert-success">Succesfully closed at @Model.timeResolved.ToShortTimeString() on @Model.timeResolved.ToShortDateString().</div>
        }
        else
        {
            <div class="alert alert-danger">This issue has been open since @Model.timeAdded.ToShortDateString().</div>
            if (Model.disableBike)
            {
                <div class="alert alert-danger">Users can't use this bike until it is repaired.</div>
            }
        }
        <h2>Bike #@Model.bikeAffected.bikeNumber - @Model.bikeAffected.bikeName</h2>
        <h4>Problem</h4>
        <div>@Model.details</div>
        <h4>Maintenance Details</h4>
        <div>@Model.staffPerson.userName will fix this issue.</div>
        <div>Maintenance will take place at @Model.workshop.name</div>
    </div>
    @if(!Model.resolved){
    <div class="panel-footer text-right">
        @using (Html.BeginForm("closeMaintenance", "Mechanic", new { maintId = Model.MaintenanceEventId }, FormMethod.Post, new { }))
        {
            <button type="submit" value="closeMaintenance" class="btn btn-primary">Close</button>
        }
    </div>
    }
</div>
<hr />
<h3><span class="glyphicon glyphicon-comment"></span> Comments <a class="btn btn-primary pull-right" data-toggle="modal" data-target="#siteModal" href="@Url.Action("newComment", new { maintId = Model.MaintenanceEventId})"><span class="glyphicon glyphicon-plus-sign"></span>  Comment</a></h3>
<div class="row">
    <hr />
    @foreach (var comment in Model.updates)
    {<div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">@comment.title <span class="pull-right">Posted by @comment.postedBy.userName at @comment.timePosted.ToShortTimeString() on @comment.timePosted.ToShortDateString()</span></div>
            <div class="panel-body">
                <div>@comment.body</div>
            </div>
        </div>
    </div>
    }
</div>