@using BikeShare.Views
@using BikeShare.Models
@model BikeShare.ViewModels.PaginatedViewModel<MaintenanceEvent>

@{
    ViewBag.Title = "Maintenance History";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section menuSection{
    @Html.Partial("_AdminMenuPartial")
}
<h2 class="text-center"><span class="glyphicon glyphicon-wrench pull-left"></span> Bike Maintenance</h2>
<hr />
<div class="row">
    @foreach (var maintenance in Model.modelList)
    {<div class="col-md-6">
        @if (maintenance.resolved)
        {
            <div class="panel panel-success">
                <div class="panel panel-heading"><h4>Maintenance finished on @maintenance.timeResolved.ToShortDateString() on Bike @maintenance.bikeAffected.bikeNumber</h4></div>
                <div class="panel-body"><p>Opened by @maintenance.staffPerson.userName at @maintenance.workshop.name on @maintenance.timeAdded.ToShortDateString()</p></div>
                <div class="panel-footer text-right">
                    <a class="btn btn-default" href="@Url.Action(actionName: "maintenanceDetails", controllerName: "Admin", routeValues: new { maintId = maintenance.MaintenanceEventId})"><span class="glyphicon glyphicon-list"></span> Details</a>
                    <a class="btn btn-default" href="@Url.Action(actionName: "infoBike", controllerName: "Admin", routeValues: new { bikeId = maintenance.bikeAffected.bikeId})"><span class="glyphicon glyphicon-time"></span>  Bike</a>
                    <a class="btn btn-default" href="@Url.Action(actionName: "userDetails", controllerName: "Admin", routeValues: new { userId = maintenance.staffPerson.bikeUserId})"><span class="glyphicon glyphicon-user"></span>  Mechanic</a>
                    <a class="btn btn-default" href="@Url.Action(actionName: "workshopDetails", controllerName: "Admin", routeValues: new { workshopId = maintenance.workshop.workshopId})"><span class="glyphicon glyphicon-home"></span>  Workshop</a>
                </div>
            </div>
        }
        else
        {
            <div class="panel panel-danger">
                <div class="panel panel-heading"><h4>Maintenance started @maintenance.timeAdded on Bike @maintenance.bikeAffected.bikeNumber</h4></div>
                <div class="panel-body"><p>Opened by @maintenance.staffPerson.userName at @maintenance.workshop.name</p></div>
                <div class="panel-footer text-right">
                    <a class="btn btn-default" href="@Url.Action(actionName: "maintenanceDetails", controllerName: "Admin", routeValues: new { maintId = maintenance.MaintenanceEventId})"><span class="glyphicon glyphicon-list"></span>  Details</a>
                    <a class="btn btn-default" href="@Url.Action(actionName: "bikeDetails", controllerName: "Admin", routeValues: new { bikeId = maintenance.bikeAffected.bikeId})"><span class="glyphicon glyphicon-time"></span>  Bike</a>
                    <a class="btn btn-default" href="@Url.Action(actionName: "userDetails", controllerName: "Admin", routeValues: new { userId = maintenance.staffPerson.bikeUserId})"><span class="glyphicon glyphicon-user"></span>  Mechanic</a>
                    <a class="btn btn-default" href="@Url.Action(actionName: "workshopDetails", controllerName: "Admin", routeValues: new { workshopId = maintenance.workshop.workshopId})"><span class="glyphicon glyphicon-home"></span>  Workshop</a>
                </div>
            </div>
        }
        
    </div>
    }
</div>
<hr />
<div>@Html.PageLinks(Model.pagingInfo, x => Url.Action("maintenanceList", new { page = x }))</div>

