@model BikeShare.Models.BikeRack

@{
    ViewBag.Title = "New Bike Rack";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @section mapsSection {
        <style type="text/css">
            #map-canvas {
            }
        </style>
        <script type="text/javascript"
                src="https://maps.googleapis.com/maps/api/js?key=@BikeShare.Code.Secrets.GMapsAPI.ToString()&sensor=false">
        </script>
        <script type="text/javascript">
    function initialize() {
        var mapOptions = {
            center: new google.maps.LatLng(43.08441, -77.674949),
            zoom: 15
        };
        var map = new google.maps.Map(document.getElementById("map-canvas"),
            mapOptions);

        var marker = new google.maps.Marker({
            position: new google.maps.LatLng(43.08441, -77.674949),
            map: map,
            draggable:true,
            title:"Drag me!"
        })



        google.maps.event.addListener(marker, 'dragend', function(e) {
            moveMarker(e.latLng, map)})
        function moveMarker(position, map) {
            oFormObject = document.forms[0];
            oformElementLat= oFormObject.elements["GPSCoordX"];
            oformElementLong = oFormObject.elements["GPSCoordY"];
            oformElementLat.value = position.lat();
            oformElementLong.value = position.lng();
        }
    }
    google.maps.event.addDomListener(window, 'load', initialize);
        </script>

    }
}
@section menuSection{
    @Html.Partial("_AdminMenuPartial")
}
@using (Html.BeginForm())
{
<h2 class="text-center"><span class="glyphicon glyphicon-map-marker pull-left"></span>@ViewBag.Title<button type="submit" value="Save" class="btn btn-primary pull-right" role="button"><span class="glyphicon glyphicon-save"></span> Save</button></h2>
<hr />

    @Html.AntiForgeryToken()
    <div class="panel panel-default">
        <div class="panel-heading"><h4 class="panel-title">Map</h4></div>
        <div id="map-canvas" style="height: 400px"></div>
        <div class="panel-footer text-right">Drag Marker to Move Rack</div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading"><h4 class="panel-title">Details</h4></div>
        <div class="panel-body">
            @Html.ValidationMessageFor(model => model.GPSCoordX)
            @Html.ValidationMessageFor(model => model.GPSCoordY)
            <div class="form-horizontal">
                @Html.ValidationSummary(true)
                <div class="form-group">
                    @Html.LabelFor(model => model.name, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.name)
                        @Html.ValidationMessageFor(model => model.name)
                    </div>
                </div>
                @Html.HiddenFor(model => model.GPSCoordX)
                @Html.HiddenFor(model => model.GPSCoordY)
                @Html.HiddenFor(model => model.isArchived)
                <div class="form-group">
                    @Html.LabelFor(model => model.description, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.description)
                        @Html.ValidationMessageFor(model => model.description)
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<hr role="separator" />