@model BikeShare.Models.Workshop

@{
    ViewBag.Title = "New Workshop";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @section mapsSection {
        <style type="text/css">
            #map-canvas {
            }
        </style>
        <script type="text/javascript"
                src="https://maps.googleapis.com/maps/api/js?key=@BikeShare.Code.Secrets.GMapsAPI.ToString()&sensor=false">
        </script>
        <script type="text/javascript">
    function initialize() {
        var mapOptions = {
            center: new google.maps.LatLng(43.08441, -77.674949),
            zoom: 8
        };
        var map = new google.maps.Map(document.getElementById("map-canvas"),
            mapOptions);

        var marker = new google.maps.Marker({
            position: new google.maps.LatLng(43.08441, -77.674949),
            map: map,
            draggable:true,
            title:"Drag me!"
        })



        google.maps.event.addListener(marker, 'dragend', function(e) {
            moveMarker(e.latLng, map)})
        function moveMarker(position, map) {
            oFormObject = document.forms[0];
            oformElementLat= oFormObject.elements["GPSCoordX"];
            oformElementLong = oFormObject.elements["GPSCoordY"];
            oformElementLat.value = position.lat();
            oformElementLong.value = position.lng();
        }
    }
    google.maps.event.addDomListener(window, 'load', initialize);
        </script>

    }
}
@section menuSection{
    @Html.Partial("_AdminMenuPartial")
}
<h2><span class="glyphicon glyphicon-Home"></span> @ViewBag.Title</h2>
<hr />
@using (Html.BeginForm())
{
<div class="panel panel-default">

    <div id="map-canvas" style="height: 400px"></div>
    <div class="panel-body">
        @Html.ValidationMessageFor(model => model.GPSCoordX)
        @Html.ValidationMessageFor(model => model.GPSCoordY)
        @Html.HiddenFor(model => model.GPSCoordX)
        @Html.HiddenFor(model => model.GPSCoordY)
        <div class="form-horizontal">
            @Html.ValidationSummary(true)
            <div class="form-group">
                @Html.LabelFor(model => model.name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.name)
                    @Html.ValidationMessageFor(model => model.name)
                </div>
            </div>
        </div>
    </div>
    <div class="panel-footer text-right">
        <button type="submit" value="Save" class="btn btn-primary" role="button"><span class="glyphicon glyphicon-floppy-save"></span> Save</button>
    </div>
</div>
}
<hr />
<div role="navigation"><a class="btn btn-default" href="@Url.Action(actionName: "Index", controllerName: "Admin")"><span class="glyphicon glyphicon-arrow-left"></span>  Back to Dashboard</a></div>