@model BikeShare.Models.bikeUser

@{
    ViewBag.Title = "Manage " + Model.userName;
    Layout = null;
}
<script>
    $(document.body).on('hidden.bs.modal', function () {
        $('#siteModal').removeData('bs.modal')
    });
</script>
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <h4 class="modal-title" id="siteModalLabel"><span class="glyphicon glyphicon-user"></span> Edit User</h4>
</div>
@using (Html.BeginForm())
{
<div class="modal-body">
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        @Html.HiddenFor(model => model.bikeUserId)
        @Html.ValidationSummary(true)
        <div class="form-group">
            @Html.LabelFor(model => model.email, htmlAttributes: new { @class = "control-label col-sm-4" })
            <div class="col-md-8">
                @Html.TextBoxFor(model => model.email, new {@class = "form-control" })
                @Html.ValidationMessageFor(model => model.email)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.phoneNumber, htmlAttributes: new { @class = "control-label col-sm-4" })
            <div class="col-md-8">
                @Html.TextBoxFor(model => model.phoneNumber, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.phoneNumber)
            </div>
        </div>
        <hr />
        <h4><span class="glyphicon glyphicon-lock"></span> Permissions</h4>
        <div class="form-group">
            @Html.LabelFor(model => model.canAdministerSite, htmlAttributes: new { @class = "control-label col-sm-4" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.canAdministerSite)
                @Html.ValidationMessageFor(model => model.canAdministerSite)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.canBorrowBikes, htmlAttributes: new { @class = "control-label col-sm-4" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.canBorrowBikes)
                @Html.ValidationMessageFor(model => model.canBorrowBikes)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.canCheckOutBikes, htmlAttributes: new { @class = "control-label col-sm-4" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.canCheckOutBikes)
                @Html.ValidationMessageFor(model => model.canCheckOutBikes)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.canMaintainBikes, htmlAttributes: new { @class = "control-label col-sm-4" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.canMaintainBikes)
                @Html.ValidationMessageFor(model => model.canMaintainBikes)
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="submit" value="Save" class="btn btn-danger" role="button"><span class="glyphicon glyphicon-save"></span> Save</button>
</div>
}