@using BikeShare.Views
@model BikeShare.ViewModels.PaginatedViewModel<BikeShare.ViewModels.Admin.AdminUserVM>

@{
    ViewBag.Title = "All Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section menuSection{
    @Html.Partial("_AdminMenuPartial")
}
<h2 ><span class="glyphicon glyphicon-user pull-left"></span> Users <a class="btn btn-primary pull-right" data-toggle="modal" data-target="#siteModal" href="@Url.Action("newUser")"><span class="glyphicon glyphicon-user"></span>  New</a></h2>
<div class="panel panel-default">
    <div class="panel-heading">Find Users</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-9">
                <h4>Who:</h4>
                @Html.ActionLink("Have a Bike", "userList", new { hasBike=true}, new { @class = "btn btn-default" })
                @Html.ActionLink("Are Mechanics", "userList", new { canMaintain=true}, new { @class = "btn btn-default" })
                @Html.ActionLink("Are Admins", "userList", new { canAdmin=true}, new { @class = "btn btn-default" })
                @Html.ActionLink("Are Cashiers", "userList", new { canCheckout=true}, new { @class = "btn btn-default" })
                @Html.ActionLink("Can't Ride", "userList", new { canRide=false}, new { @class = "btn btn-default" })
            </div>
            <div class="col-md-3">
                <h4>By Name:</h4>
                @using (Html.BeginForm("userList", "Admin", FormMethod.Get))
                {
                    <div class="form-inline"> @Html.TextBox("name")</div>
                    <input type="submit" value="Filter" class="btn btn-primary" role="button" />
                }
                
            </div>
        </div>
    </div>
</div>
<div class="row">
@foreach (var user in Model.modelList)
{
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    @user.UserName - @user.FirstName @user.LastName
                    @if (user.IsArchived)
                    { <span class="label label-danger pull-right">Archived</span>}
                </h4>
            </div>
            <div class="panel-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <div class="control-label col-sm-6">Phone:</div>
                        <div class="col-sm-6 form-control-static">
                            <span>@user.Phone</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="control-label col-sm-6">Email:</div>
                        <div class="col-sm-6 form-control-static">
                            <span>@user.Email</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="control-label col-sm-6">Registration Date:</div>
                        <div class="col-sm-6 form-control-static">
                            <span>@(user.LastRegistered.HasValue ? user.LastRegistered.Value.ToShortDateString() : "not registered")</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="control-label col-sm-6">Registration PDF:</div>
                        <div class="col-sm-6 form-control-static">
                            <span>@(user.RegistrationPDFNumber.HasValue ? user.RegistrationPDFNumber.Value.ToString() : "not registered")</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer text-right">
                <a class="btn btn-default" href="@Url.Action(actionName: "userDetails", controllerName: "Admin", routeValues: new { userId = @user.Id})"><span class="glyphicon glyphicon-user"></span>  Details</a>
                <a class="btn btn-primary" data-toggle="modal" data-target="#siteModal" href="@Url.Action("userEdit", new { userId = user.Id})"><span class="glyphicon glyphicon-pencil"></span>  Edit</a>
            </div>
        </div>
    </div>
}

</div>
<hr />
<div>@Html.PageLinks(Model.pagingInfo, x => Url.Action("userList", new { page = x, canAdmin = ViewBag.canAdmin, canCheckout = ViewBag.canCheckout, canRide = ViewBag.canRide, canMaintain = ViewBag.canMaintain }))</div>