@using BikeShare.Views
@model BikeShare.ViewModels.PaginatedViewModel<BikeShare.Models.Workshop>

@{
    ViewBag.Title = "Workshops";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section menuSection{
    @Html.Partial("_AdminMenuPartial")
}
<h2 class="text-center"><span class="glyphicon glyphicon-time pull-left"></span> @ViewBag.Title <a class="btn btn-primary pull-right" href="@Url.Action(actionName: "newWorkshop", controllerName: "Admin", routeValues: new { })"><span class="glyphicon glyphicon-asterisk"></span>  New</a></h2>
<hr />
<div class="row">
@foreach (var workshop in Model.modelList)
{
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading"><h4 class="panel-title">@workshop.Name</h4></div>
            <div class="text-right panel-footer">
                <a class="btn btn-default" href="@Url.Action(actionName: "workshopDetails", controllerName: "Admin", routeValues: new { workshopId = workshop.workshopId})"><span class="glyphicon glyphicon-list"></span>  Details</a>
                <a class="btn btn-primary" href="@Url.Action(actionName: "editWorkshop", controllerName: "Admin", routeValues: new { workshopId = workshop.workshopId })"><span class="glyphicon glyphicon-pencil"></span>  Edit</a>
                <a class="btn btn-danger" href="@Url.Action(actionName: "archiveWorkshop", controllerName: "Admin", routeValues: new { workshopId = workshop.workshopId })"><span class="glyphicon glyphicon-trash"></span>  Archive</a>
            </div>
        </div>
    </div>
}
    </div>
<hr />
<div>@Html.PageLinks(Model.pagingInfo, x => Url.Action("workshopList", new { page = x }))</div>