@model BikeShare.Models.Workshop

@{
    ViewBag.Title = "Workshop Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @section menuSection{
    @Html.Partial("_AdminMenuPartial")
    }
    @section mapsSection {
    <style type="text/css">
        #map-canvas {
        }
    </style>
    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key=@BikeShare.Code.Secrets.GMapsAPI.ToString()&sensor=false">
    </script>
    <script type="text/javascript">
    function initialize() {
        var mapOptions = {
            center: new google.maps.LatLng(43.08441, -77.674949),
            zoom: 8
        };
        var map = new google.maps.Map(document.getElementById("map-canvas"),
            mapOptions);

        var marker = new google.maps.Marker({
            position: new google.maps.LatLng(43.08441, -77.674949),
            map: map,
            draggable:true,
            title:"Drag me!"
        })

        google.maps.event.addListener(marker, 'dragend', function(e) {
            moveMarker(e.latLng, map)})
        function moveMarker(position, map) {
            oFormObject = document.forms[0];
            oformElementLat= oFormObject.elements["GPSCoordX"];
            oformElementLong = oFormObject.elements["GPSCoordY"];
            oformElementLat.value = position.lat();
            oformElementLong.value = position.lng();
        }
    }
    google.maps.event.addDomListener(window, 'load', initialize);
    </script>

    }
}

<h2><span class="glyphicon glyphicon-home"></span> Workshop Details</h2>
<hr />
<div class="panel panel-default">
    <div class="panel-heading"><h4 class="panel-title">@Model.name</h4></div>
    <div id="map-canvas" style="height: 400px"></div>
    <div class="panel-body">

        <div class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-md-2">Name</label>
                @Html.DisplayFor(model => model.name)
            </div>
        </div>
    </div>
    <div class="panel-footer text-right">
        <a class="btn btn-primary" href="@Url.Action(actionName: "workshopEdit", controllerName: "Admin", routeValues: new { workshopId = @Model.workshopId })"><span class="glyphicon glyphicon-pencil"></span>  Edit</a>
        <a class="btn btn-danger" href="@Url.Action(actionName: "archiveWorkshop", controllerName: "Admin", routeValues: new { workshopId = @Model.workshopId })"><span class="glyphicon glyphicon-trash"></span>  Archive</a>
    </div>
</div>