@using BikeShare.Views
@model BikeShare.ViewModels.PaginatedViewModel<BikeShare.Models.MaintenanceEvent>

@{
    ViewBag.Title = "Bike Maintenance History";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section menuSection{
    @Html.Partial("_MechanicMenuPartial")
}
<h2 class="text-center"><span class="glyphicon glyphicon-time pull-left"></span>@ViewBag.Title</h2>
<hr />
<div class="panel panel-primary">
    <div class="panel-heading"><h4 class="panel-title">History</h4></div>
    <table class="table">
        <thead>
            <tr>
                <td>Date</td>
                <td>Title</td>
                <td>Resolved</td>
                <td>Details</td>
            </tr>
        </thead>

        @foreach (var maint in Model.modelList)
        {
            <tr class="bg-@(maint.timeResolved.HasValue ? "success" : "danger")">
                <td>@maint.timeAdded.ToShortDateString()</td>
                <td>@maint.title</td>
                <td>@(maint.timeResolved.HasValue ? maint.timeResolved.Value.ToShortDateString() : "Not yet")</td>
                <td><a class="btn btn-warning" href="@Url.Action(actionName: "maintenanceDetails", controllerName: "Mechanic", routeValues: new { maintId = maint.MaintenanceEventId })"><span class="glyphicon glyphicon-info-sign"></span>  Details</a></td>
            </tr>
        }
    </table>
    <div class="panel-footer">
        <div>@Html.PageLinks(Model.pagingInfo, x => Url.Action("bikeMaintenance", new { page = x }))</div>
    </div>
</div>