@model List<BikeShare.Models.Bike>


@{
    ViewBag.Title = "Mechanic's Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section menuSection{
    @Html.Partial("_MechanicMenuPartial")
}
<h2 class="text-center"><span class="glyphicon glyphicon-wrench pull-left"></span>@ViewBag.Title</h2>
<hr />
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title"><span class="glyphicon glyphicon-search"></span> All Bikes</h3>
    </div>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <td>Bike #</td>
                    <td>Available?</td>
                    <td>Last Checked Out</td>
                    <td></td>
                </tr>
            </thead>

            @foreach (var bike in Model)
            {
                if (bike.isAvailable())
                {
                    <tr class="bg-success">
                        <td>@bike.bikeNumber</td>
                        <td>@bike.isAvailable()</td>
                        <td>@bike.lastCheckedOut.ToString()</td>
                        <td class="text-right">
                            <a class="btn btn-primary" href="@Url.Action(actionName: "bikeDetails", controllerName: "Mechanic", routeValues: new { bikeId = bike.bikeId})"><span class="glyphicon glyphicon-list-alt"></span>  Details</a> 
                            <a class="btn btn-primary" href="@Url.Action("newInspection", new { bikeId = bike.bikeId})" data-toggle="modal" data-target="#siteModal"><span class="glyphicon glyphicon-search"></span>  Inspect</a>
                        </td>
                    </tr>
                }
                else
                {
                    <tr class="bg-danger">
                        <td>@bike.bikeNumber</td>
                        <td>@bike.isAvailable()</td>
                        <td>@bike.lastCheckedOut.ToString()</td>
                        <td class="text-right">
                            <a class="btn btn-primary" href="@Url.Action(actionName: "bikeDetails", controllerName: "Mechanic", routeValues: new { bikeId = bike.bikeId})"><span class="glyphicon glyphicon-list-alt"></span>  Details</a> 
                            <a class="btn btn-primary" href="@Url.Action("newInspection", new { bikeId = bike.bikeId})" data-toggle="modal" data-target="#siteModal"><span class="glyphicon glyphicon-search"></span>  Inspect</a>
                        </td>
                    </tr>
                }
            }
        </table>
    </div>
</div>