@model BikeShare.Models.MaintenanceEvent

@{
    ViewBag.Title = "Maintenance Details - " + Model.title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section menuSection{
    @Html.Partial("_MechanicMenuPartial")
}
<h2 class="text-center"><span class="glyphicon glyphicon-wrench pull-left"></span>@ViewBag.Title</h2>
<hr />
<div class="panel panel-primary">
    <div class="panel-heading"><h4 class="panel-title">Details</h4></div>
    <div class="panel-body">
        @if (Model.timeResolved.HasValue)
        {
            <div class="alert alert-success">Successfully  closed at @Model.timeResolved.Value.ToShortTimeString() on @Model.timeResolved.Value.ToShortDateString().</div>
        }
        else
        {
            <div class="alert alert-danger">This issue has been open since @Model.timeAdded.ToShortDateString().</div>
            if (Model.disableBike)
            {
                <div class="alert alert-danger">Users can't use this bike until it is repaired.</div>
            }
        }
        <h4>Problem</h4>
        <div>@Model.details</div>
    </div>
    @if(!Model.timeResolved.HasValue){
    <div class="panel-footer text-right">
        @using (Html.BeginForm("closeMaintenance", "Mechanic", new { maintId = Model.MaintenanceEventId }, FormMethod.Post, new { }))
        {
            @Html.AntiForgeryToken()
            <button type="submit" value="closeMaintenance" class="btn btn-primary">Close</button>
        }
    </div>
    }
</div>