@model BikeShare.Models.MaintenanceEvent

@{
    Layout = null;
}
<script>
    $(document.body).on('hidden.bs.modal', function () {
        $('#siteModal').removeData('bs.modal')
    });
</script>
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <h4 class="modal-title" id="siteModalLabel"><span class="glyphicon glyphicon-wrench"></span> @ViewBag.Title</h4>
</div>
@using (Html.BeginForm())
{
<div class="modal-body">
    @Html.HiddenFor(model => model.bikeId)
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        @Html.ValidationSummary(true)
        <div class="form-group">
            @Html.LabelFor(model => model.title, htmlAttributes: new { @class = "control-label col-sm-4" })
            <div class="col-md-8">
                @Html.TextBoxFor(model => model.title, new { @class="form-control"})
                @Html.ValidationMessageFor(model => model.title)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.details, htmlAttributes: new { @class = "control-label col-sm-4" })
            <div class="col-sm-8">
                @Html.TextAreaFor(model => model.details, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.details)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.disableBike, htmlAttributes: new { @class = "control-label col-sm-4" })
            <div class="col-sm-8">
                @Html.EditorFor(model => model.disableBike)
            </div>
        </div>
    </div>
</div>

<div class="modal-footer text-right">
    <button type="submit" value="Save" class="btn btn-primary" role="button"><span class="glyphicon glyphicon-save"></span> Save</button>
</div>
}