<div class="visible-sm hidden-xs visible-md visible-lg">
    <div class="list-group">
        <a class="list-group-item" href="@Url.Action("Index")"><span class="glyphicon glyphicon-home"></span> Home</a>
        <a class="list-group-item" href="@Url.Action("bikeList")"><span class="glyphicon glyphicon-road"></span> Bikes</a>
        <a class="list-group-item" href="@Url.Action("bikeRackList")"><span class="glyphicon glyphicon-align-right"></span> Racks</a>
        <a class="list-group-item" href="@Url.Action("userList")"><span class="glyphicon glyphicon-user"></span> Users</a>
        <a class="list-group-item" href="@Url.Action("appSettings")"><span class="glyphicon glyphicon-cog"></span> Settings</a>
        <a class="list-group-item" href="@Url.Action("reports")"><span class="glyphicon glyphicon-circle-arrow-down"></span> Reports</a>
        <a class="list-group-item" href="@Url.Action("chargesList")"><span class="glyphicon glyphicon-usd"></span> Charges</a>
    </div>
</div>
<div class="hidden-sm visible-xs hidden-md hidden-lg">
    <ul class="nav nav-tabs">
        <li><a href="@Url.Action("Index")"><span class="glyphicon glyphicon-home"></span> Home</a></li>
        <li><a href="@Url.Action("bikeList")"><span class="glyphicon glyphicon-road"></span> Bikes</a></li>
        <li><a href="@Url.Action("bikeRackList")"><span class="glyphicon glyphicon-align-right"></span> Racks</a></li>
        <li><a href="@Url.Action("userList")"><span class="glyphicon glyphicon-user"></span> Users</a></li>
        <li><a href="@Url.Action("appSettings")"><span class="glyphicon glyphicon-cog"></span> Settings</a></li>
        <li><a href="@Url.Action("reports")"><span class="glyphicon glyphicon-circle-arrow-down"></span> Reports</a></li>
        <li><a href="@Url.Action("chargesList")"><span class="glyphicon glyphicon-usd"></span> Charges</a></li>
</ul>
</div>
