<div class="list-group">
    @Html.ActionLink("Home", "Index", new { }, new { @class = "list-group-item" })
    @Html.ActionLink("Bikes", "bikeList", new { }, new { @class = "list-group-item" })
    @Html.ActionLink("Racks", "bikeRackList", new { }, new { @class = "list-group-item" })
    @Html.ActionLink("Workshops", "workshopList", new { }, new { @class = "list-group-item" })
    @Html.ActionLink("Users", "userList", new { }, new { @class = "list-group-item" })
    @Html.ActionLink("Reports", "reports", new { }, new { @class = "list-group-item" })
</div>