<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="@Url.Action(actionName: "Index", controllerName: "Home")"><img src="~/Content/Images/bike_logo_web.png" height="30" /></a>
            @Html.ActionLink("RIT Bikeshare", "Index", "Home", null, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="@Url.Action(actionName:"Index", controllerName:"Home")"><span class="glyphicon glyphicon-home"></span> Home</a></li>
                <li><a href="@Url.Action(actionName:"About", controllerName:"Home")"><span class="glyphicon glyphicon-info-sign"></span> About</a></li>
                <li class="dropdown">
                    <a data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-search"></span> Explore<span class="caret"></span></a>

                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <li><a href="@Url.Action(actionName:"bikeListing", controllerName:"Explore")"><span class="glyphicon glyphicon-list-alt"></span> Bikes</a></li>
                        <li><a href="@Url.Action(actionName:"rackListing", controllerName:"Explore")"><span class="glyphicon glyphicon-list"></span> Bike Racks</a></li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li><a href="@Url.Action(actionName:"Index", controllerName:"Explore")"><span class="glyphicon glyphicon-user"></span> My Profile</a></li>
                        }
                    </ul>
                </li>
            </ul>
            
            @Html.Partial("_LoginPartial")
        </div>

    </div>
</div>

