<!DOCTYPE html>
<html>
<head>
    <meta name="description" content="Organizational feedback tool, connecting organizations with user feedback." />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="msapplication-TileColor"
          content="#f36e21" />
    <meta name="msapplication-square150x150logo" content="https://sg.rit.edu/assets/logo-a3df55e57ff5059626cfd82ee58b6404.svg" />
    <title>@ViewBag.Title - Bike Share</title>
    @if (IsSectionDefined("mapsSection"))
    {
        @RenderSection("mapsSection");
    }
    @Styles.Render("~/Content/bootstrap")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @Html.Partial("_HeaderPartial")
    <div class="container body-content" style="padding-top: 60px">
        <div class="row">
            
                @if (IsSectionDefined("menuSection") || IsSectionDefined("filterSection"))
                {
                    <div class="col-sm-3 hidden-xs hidden-print">
                    @if (IsSectionDefined("menuSection"))
                    {
                        <h3></h3>
                        @RenderSection("menuSection");
                    }
                    @if (IsSectionDefined("filterSection"))
                    {
                        <h3></h3>
                        @RenderSection("filterSection");
                    }
                    </div>
                    <div class="col-sm-9">
                        @RenderBody()
                    </div>
                }
                else
                {
                    <div class="col-sm-12">
                        @RenderBody()
                    </div>
                }
        </div>
        <div class="modal fade" id="siteModal" tabindex="-1" role="dialog" aria-labelledby="siteModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">Loading</div>
                </div>
            </div>
        </div>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Nathan C. Castle - 
                <a href="https://github.com/NathanCastle/BikeShare"><span class="glyphicon glyphicon-link"></span> Available on GitHub</a> - 
            <a href="@Url.Action(actionName: "License", controllerName: "Home")"><span class="glyphicon glyphicon-briefcase"></span>  License Notices</a>
            @if (User.IsInRole("superAdmin"))
            {
                 <text> - <a href="@Url.Action(actionName: "Index", controllerName: "Super")"><span class="glyphicon glyphicon-wrench"></span>  Admin Panel</a></text>
            }
            
        </footer>
    </div>
    @RenderSection("scripts", required: false)
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>
