@if (Request.IsAuthenticated)
{
    <text>
        <ul class="nav navbar-nav navbar-right" role="menu">
            <li class="dropdown">
                <a data-toggle="dropdown" href="#"><img src="@BikeShare.Views.Gravatar.url(User.Identity.Name + "@rit.edu")?s=20&d=identicon" />
                        @User.Identity.Name <span class="caret"></span></a>

                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                    @if (BikeShare.Code.roleCheck.isUserAdmin(User.Identity.Name))
                    {
                        <li><a href="@Url.Action(actionName:"Index", controllerName:"Admin")"><span class="glyphicon glyphicon-dashboard"></span> Dashboard</a></li>
                    }
                    @if (BikeShare.Code.roleCheck.isUserMechanic(User.Identity.Name))
                    {
                        <li><a href="@Url.Action(actionName:"Index", controllerName:"Mechanic")"><span class="glyphicon glyphicon-wrench"></span> Mechanic</a></li>
                    }
                    @if (BikeShare.Code.roleCheck.isUserCashier(User.Identity.Name))
                    {
                        <li><a href="@Url.Action(actionName:"selectRack", controllerName:"Checkout")"><span class="glyphicon glyphicon-check"></span> Checkout</a></li>
                    }
                    <li><a href="@Url.Action(actionName:"Index", controllerName:"Explore")"><span class="glyphicon glyphicon-user"></span> My Profile</a></li>
                    <li><a href="@Url.Action(actionName:"LogOff", controllerName:"Account")"><span class="glyphicon glyphicon-log-out"></span> Log out</a></li>
                </ul>
            </li>
            
        </ul>
    </text>
}
else
{

    using (Html.BeginForm("logon", "account", new {returnUrl = ViewBag.ReturnUrl}, FormMethod.Post))
{
        @Html.AntiForgeryToken()
       <text>

<script type="text/javascript">
    function forceLower(strInput)
    {
        strInput.value=strInput.value.toLowerCase();
    }
</script>
<div role="form" class="navbar-form navbar-right">
    <div class="form-group">
        <input class="form-control" id="UserName" name="UserName" placeholder="User Name" type="text" onkeyup="return forceLower(this);" />
    </div>
    <div class="form-group">
        <input class="form-control" id="Password" name="Password" placeholder="Password" type="password" />
    </div>
    <input type="submit" value="Log In" role="button" class="btn btn-default" />
</div>

    </text>
}
}
