@if (Request.IsAuthenticated)
{
    <text>
        <ul class="nav navbar-nav navbar-right" role="menu">
            <li class="dropdown">
                <a data-toggle="dropdown" href="#"><img src="@BikeShare.Views.Gravatar.url(User.Identity.Name + "@rit.edu")?s=20&d=identicon" />
                        @User.Identity.Name <span class="caret"></span></a>

                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                    @if (BikeShare.Code.roleCheck.isUserAdmin(User.Identity.Name))
                    {
                        <li><a href="@Url.Action(actionName:"Index", controllerName:"Admin")"><span class="glyphicon glyphicon-dashboard"></span> Dashboard</a></li>
                    }
                    @if (BikeShare.Code.roleCheck.isUserMechanic(User.Identity.Name))
                    {
                        <li><a href="@Url.Action(actionName:"Index", controllerName:"Mechanic")"><span class="glyphicon glyphicon-wrench"></span> Mechanic</a></li>
                    }
                    @if (BikeShare.Code.roleCheck.isUserCashier(User.Identity.Name))
                    {
                        <li><a href="@Url.Action(actionName:"selectRack", controllerName:"Checkout")"><span class="glyphicon glyphicon-check"></span> Checkout</a></li>
                    }
                    <li><a href="@Url.Action(actionName:"Index", controllerName:"Explore")"><span class="glyphicon glyphicon-user"></span> My Profile</a></li>
                    <li><a href="@Url.Action(actionName:"LogOff", controllerName:"Account")"><span class="glyphicon glyphicon-log-out"></span> Log out</a></li>
                </ul>
            </li>
            
        </ul>
    </text>
}
else
{
    <text>
        <ul class="nav navbar-nav navbar-right" role="menu">
            <li class="navbar-text">
                <span class="glyphicon glyphicon-user"></span> Hello, guest!
            </li>
            <li class="nav navbar-nav" role="menuitem">
                <a href="@Url.Action(actionName:"LogOn", controllerName:"Account")"><span class="glyphicon glyphicon-log-in"></span> Log in</a>

            </li>
        </ul>
    </text>
}
