@model BikeShare.ViewModels.CheckoutViewModel

@{
    ViewBag.Title = "Checkout Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center"><span class="glyphicon glyphicon-check pull-left"></span>@ViewBag.Title<a class="btn btn-default pull-right" data-toggle="modal" data-target="#siteModal" href="@Url.Action("helpPopup")"><span class="glyphicon glyphicon-question-sign"></span></a></h2>
<hr />
@if (!String.IsNullOrWhiteSpace(Model.errorMessage))
{
    <div class="alert alert-info alert-dismissable">@Model.errorMessage</div>
}
<div class="alert alert-danger hidden" id="userWarningAlert">User is not eligible to check out bikes. Please remind the user to update their registration.</div>
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading"><h4 class="panel-title"><span class="glyphicon glyphicon-log-out"></span> Check Out</h4></div>
            @using (Html.BeginForm("checkOutBike", "Checkout", new { rackId = Model.currentRack.bikeRackId}, FormMethod.Post, new { }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.currentRack.bikeRackId)
                <table class="table table-hover">
                    <thead class="active text-info">
                        <tr><td></td><td>Bike #</td><td>Name</td><td>Last User</td></tr>
                    </thead>
                    @foreach (var bike in Model.availableBikes)
                    {
                        <tr>
                            <td>@Html.RadioButtonFor(m => m.selectedBikeForCheckout, bike.bikeId)</td>
                            <td>@bike.bikeNumber</td>
                            <td>@bike.bikeName</td>
                            <td>@bike.checkOuts.First().user.userName</td>
                        </tr>
                    }
                </table>
                <div class="panel-footer">
                        <div class="input-group" id="userNameFormGroup">
                                <input class="form-control" id="userToCheckIn" name="userToCheckIn" type="text" value="">
                                <span class="input-group-btn">
                                    <button type="submit" value="checkOutBike" class="btn btn-primary disabled" id="btnCheckout"> Checkout</button>
                                </span>
                        </div>
                </div>
            }
        </div>
    </div>
    
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading"><h4 class="panel-title"><span class="glyphicon glyphicon-log-in"></span> Check In</h4></div>
            @using (Html.BeginForm("checkInBike", "Checkout", new { rackId = Model.currentRack.bikeRackId }, FormMethod.Post, new { }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.currentRack.bikeRackId)
                <table class="table table-hover">
                    <thead class="active text-info">
                        <tr><td></td><td>Bike #</td><td>Name</td><td>Checked Out</td><td>User</td></tr>
                    </thead>
                    @foreach (var bike in Model.checkedOutBikes)
                    {
                        <tr>
                            <td>@Html.RadioButtonFor(m => m.selectedBikeForCheckout, bike.bikeId)</td>
                            <td>@bike.bikeNumber</td>
                            <td>@bike.bikeName</td>
                            <td>@bike.lastCheckedOut.ToString()</td>
                            <td>@bike.checkOuts.First().user.userName</td>
                        </tr>
                    }
                </table>
                <div class="panel-footer text-right">
                    <button type="submit" value="Check In Bike" class="btn btn-primary"> Check In</button>
                </div>
            }
        </div>
    </div>
    <div class="col-md-12">
        <div class="panel panel-danger">
            <div class="panel-heading"><h4 class="panel-title"><span class="glyphicon glyphicon-warning-sign"></span> Issues</h4></div>
            @using (Html.BeginForm("submitCharge", "Checkout", new { rackId = Model.currentRack.bikeRackId }, FormMethod.Post, new { }))
            {
                @Html.AntiForgeryToken()
                <div class="panel-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class = "control-label col-md-2">Subject</label>
                            <div class="col-md-10">
                                <input class="form-control" id="chargeTitle" name="chargeTitle" type="text" value="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">Description</label>
                            <div class="col-md-10">
                                <input class="form-control" id="chargeDetails" name="chargeDetails" type="text" value="">
                            </div>
                        </div>
                    </div>
                </div>
                @Html.HiddenFor(model => model.currentRack.bikeRackId)
                <table class="table table-hover">
                    <thead class="active text-info">
                        <tr><td>#</td><td>Name</td><td></td></tr>
                    </thead>
                    @foreach (var bike in Model.checkedOutBikes)
                    {
                        <tr>
                            <td>@bike.bikeNumber</td>
                            <td>@bike.bikeName</td>
                            <td>@Html.RadioButtonFor(m => m.selectedBikeForCheckout, bike.bikeId)</td>
                        </tr>
                    }
                    @foreach (var bike in Model.availableBikes)
                    {
                        <tr>
                            <td>@bike.bikeNumber</td>
                            <td>@bike.bikeName</td>
                            <td>@Html.RadioButtonFor(m => m.selectedBikeForCheckout, bike.bikeId)</td>
                        </tr>
                    }
                </table>
            
            <div class="panel-footer">
                <div class="input-group text-right" id="chargeUserForm">
                    <input class="form-control pull-right" id="userName" name="userName" type="text" value="">
                    <span class="input-group-btn">
                        <button type="submit" value="submitCharge" class="btn btn-primary disabled" id="btnCharge"><span class="glyphicon glyphicon-save"></span> submit</button>
                    </span>
                </div><!-- /input-group -->
            </div>}
        </div>
    </div>
</div>
@section lateScripts{
<script type="text/javascript">
    $('#userToCheckIn').change(function () {
        var serviceURL = "@Url.Action("isUserValid")";

        $.ajax({
            type: "GET",
            url: serviceURL,
            data: { validationName: $('#userToCheckIn').val() },
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: successFunc,
            error: errorFunc
        });

        function successFunc(data, status) {
            if (data === false) {
                userWarningAlert.hidden = false;
                $('#userNameFormGroup').addClass("has-error")
                $('#userWarningAlert').removeClass("hidden")
                $('#btnCheckout').addClass('disabled')
                 }
            else {
                userWarningAlert.hidden = true;
                $('#userNameFormGroup').removeClass('has-error')
                $('#btnCheckout').removeClass('disabled')
                $('#userWarningAlert').addClass("hidden")
                $('#userNameFormGroup').addClass('has-success')
            }
        }

        function errorFunc() {
            alert('error');
        }
    });
    $('#userName').change(function () {
        var serviceURL = "@Url.Action("doesUserExist")";

        $.ajax({
            type: "GET",
            url: serviceURL,
            data: { validationName: $('#userName').val() },
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: successFunc,
            error: errorFunc
        });

        function successFunc(data, status) {
            if (data === false) {
                userWarningAlert.hidden = false;
                $('#chargeUserForm').addClass("has-error")
                $('#btnCharge').addClass('disabled')
            }
            else {
                userWarningAlert.hidden = true;
                $('#chargeUserForm').removeClass('has-error')
                $('#btnCharge').removeClass('disabled')
                $('#chargeUserForm').addClass('has-success')
            }
        }

        function errorFunc() {
            alert('error');
        }
    });
</script>
    <script type="text/javascript">
        $("#userToCheckIn").addClass("text-right")
    .val("Institutional username")
    .focus(function(){
        if ($(this).val() == "Institutional username") {
        $(this).removeClass("text-right").val("");
    }
    }).blur(function(){
    if($(this).val() == ""){
        $(this).val("Institutional username").addClass("text-right");
    }
    });
        $("#userName").addClass("text-right")
.val("Institutional username")
.focus(function () {
    if ($(this).val() == "Institutional username") {
        $(this).removeClass("text-right").val("");
    }
}).blur(function () {
    if ($(this).val() == "") {
        $(this).val("Institutional username").addClass("text-right");
    }
});
    </script>
    }

