@using BikeShare.Views
@model BikeShare.ViewModels.profileViewModel

@{
    ViewBag.Title = "My Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section menuSection{
    @Html.Partial("_ExploreMenuPartial")
}
<h2 class="text-center"><span class="glyphicon glyphicon-search pull-left"></span>
    @if (!String.IsNullOrWhiteSpace(Model.user.firstName) && !String.IsNullOrWhiteSpace(Model.user.lastName))
    {
        <text>@Model.user.firstName @Model.user.lastName</text>
    }
    else
    {
        @Model.user.userName
    }
    <a class="btn btn-warning pull-right" data-toggle="modal" data-target="#siteModal" href="@Url.Action("userEdit", new { userId = Model.user.bikeUserId})"><span class="glyphicon glyphicon-pencil"></span>  Edit</a>
    </h2>
<hr />

        <div class="panel panel-info">
            <div class="panel-heading"><h4 class="panel-title"><span class="glyphicon glyphicon-user"></span> My Details</h4></div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="text-center"><img src="@BikeShare.Views.Gravatar.url(User.Identity.Name + "@rit.edu")?s=80&d=identicon" /></div>
                        <div class="text-center">This image is managed by gravatar.</div>
                        <a href="http://en.gravatar.com/emails/" class="btn btn-default btn-block">Manage your Gravatar</a>
                    </div>
                    <div class="col-md-8">
                        <div class="form-horizontal">
                            <div class="form-group form-inline">
                                @Html.LabelFor(model => model.user.userName, new { @class = "control-label col-sm-4"})
                                <div class="col-sm-8"><span class="form-control-static disabled">@Model.user.userName</span></div>
                            </div>
                            <div class="form-group form-inline">
                                @Html.LabelFor(model => model.user.email, new { @class = "control-label col-sm-4" })
                                <div class="col-sm-8"><span class="form-control-static">@Model.user.email</span></div>
                            </div>
                            <div class="form-group form-inline">
                                @Html.LabelFor(model => model.user.phoneNumber, new { @class = "control-label col-sm-4" })
                                <div class="col-sm-8"><span class="form-control-static">@Model.user.phoneNumber</span></div>
                            </div>
                            <div class="form-group form-inline">
                                <label class="control-label col-sm-4">Last Registration</label>
                                <div class="col-sm-8"><span class="form-control-static">@Model.user.lastRegistered.ToShortDateString()</span></div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="panel-footer text-right">
                <a class="btn btn-primary" href="@Url.Action("Register")"><span class="glyphicon glyphicon-pencil"></span>  Renew Registration</a>
                
            </div>
        </div>
@if (Model.hasRental)
{
    float x = 100 - ((float)Model.hoursLeft / 24) * 100; 
    <div class="progress">
        @if(Model.hoursLeft < 0){
        <div class="progress-bar progress-bar-danger progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
            <span>Bike Overdue</span>
        </div>
        }
        else if (Model.hoursLeft < 1)
        {
            <div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar" aria-valuenow="@x" aria-valuemin="0" aria-valuemax="100" style="width: @x%">
                <span>Less than one hour left. Return Soon!</span>
            </div>
        }
        else if (Model.hoursLeft < 4)
        {
            <div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar" aria-valuenow="@x" aria-valuemin="0" aria-valuemax="100" style="width: @x%">
                <span>Only @Model.hoursLeft hours left!</span>
            </div>
        }
        else
        {
            <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="@x" aria-valuemin="0" aria-valuemax="100" style="width: @x%">
                <span>@Model.hoursLeft hrs. left</span>
            </div>
        }
    </div>
}
<div class="row">
    @foreach (var card in Model.cards)
    {
        <div class="col-lg-6">
            <div class="panel panel-@card.getStatusStyle()">
                <div class="panel-heading"><h4 class="panel-title">@card.title</h4></div>
                <div class="panel-body">
                    @card.date
                    @card.type.ToString()
                </div>
            </div>
        </div>
    }
</div>

        <div>@Html.PageLinks(Model.pagingInfo, x => Url.Action("Index", new { page = x }))</div>