@model BikeShare.Models.BikeRack

@{
    ViewBag.Title = "Bike Rack: " + Model.name;
    Layout = "~/Views/Shared/_Layout_wide.cshtml";
    @section mapsSection {
        <style type="text/css">
            #map-canvas {
            }
        </style>
        <script type="text/javascript"
                src="https://maps.googleapis.com/maps/api/js?key=@BikeShare.Code.Secrets.GMapsAPI.ToString()&sensor=false">
        </script>
        <script type="text/javascript">
    function initialize() {
        var mapOptions = {
            center: new google.maps.LatLng(43.08441, -77.674949),
            zoom: 15
        };
        var map = new google.maps.Map(document.getElementById("map-canvas"),
            mapOptions);

        var marker = new google.maps.Marker({
            position: new google.maps.LatLng(@Model.GPSCoordX, @Model.GPSCoordY),
            map: map,
            draggable:true,
            title:"Drag me!"
        })

        google.maps.event.addListener(marker, 'dragend', function(e) {
            moveMarker(e.latLng, map)})
        function moveMarker(position, map) {
            oFormObject = document.forms[0];
            oformElementLat= oFormObject.elements["GPSCoordX"];
            oformElementLong = oFormObject.elements["GPSCoordY"];
            oformElementLat.value = position.lat();
            oformElementLong.value = position.lng();
        }
    }
    google.maps.event.addDomListener(window, 'load', initialize);
        </script>

    }
}
<div class="row">
    <div style="background-image: url(@Url.Content("~/Content/Images/Racks/" + Model.bikeRackId.ToString() + ".jpg")); background-position: center; background-size: cover; padding: 50px 0px 50px 0px; height: 300px;">
        <div class="container" style="position: relative; top: 25%; color: white;">
            <div class="row" style="font-size: 200%;">
                <div class="col-xs-12 col-sm-6 col-xs-push-1 col-sm-push-0">
                    <h2 style="text-shadow:1px 1px 1px black; background-color: rgba(55,55,55,.6); padding: 5px 5px 5px 5px;">
                        @Model.name<br />
                        @Model.availableBikes.Count() Bikes Available
                    </h2>
                    <h3 style="text-shadow:1px 1px 1px black; background-color: rgba(55,55,55,.6); padding: 5px 5px 5px 5px;">@Model.description</h3> 
                </div>
                @if(!String.IsNullOrWhiteSpace(Model.hours)){
                    <div class="col-xs-12 col-sm-6 col-xs-push-1 col-sm-push-0">
                        @Model.hours
                    </div>
                }
            </div>
        </div>

    </div>
</div>
<div id="map-canvas" style="height: 400px"></div>