@using BikeShare.Views
@using BikeShare.Models;
@model BikeShare.ViewModels.PaginatedViewModel<BikeShare.Models.BikeRack>

@{
    ViewBag.Title = "Racks";
    Layout = "~/Views/Shared/_Layout_wide.cshtml";
}
@foreach (var rack in Model.modelList)
{
    <div class="row">
        <div style="background-image: url(@Url.Content("~/Content/Images/Racks/" + rack.bikeRackId.ToString() + ".jpg")); background-position: center; background-size: cover; padding: 50px 0px 50px 0px; height: 400px;">
            <div class="container" style="position: relative; top: 25%; color: white;">
                <div class="row" style="font-size: 200%;">
                    <div class="col-xs-12 col-sm-6 col-xs-push-1 col-sm-push-0">
                        <h2 style="text-shadow:3px 3px 3px black">
                            @rack.name<br />
                            @rack.availableBikes.Count() Bikes Available
                        </h2>
                        <h3 style="text-shadow:3px 3px 3px black">@rack.description</h3>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-xs-push-1 col-sm-pull-1">
                        @rack.hours<br />
                        <a class="btn btn-primary" href="@Url.Action(actionName: "rackDetails", controllerName: "Explore", routeValues: new { rackId = rack.bikeRackId})">See More <span class="glyphicon glyphicon-chevron-right"></span></a>
                    </div>
                </div>
            </div>

        </div>
    </div>   
}
<div>@Html.PageLinks(Model.pagingInfo, x => Url.Action("rackListing", new { page = x }))</div>