@model BikeShare.Models.bikeUser

@{
    ViewBag.Title = "Edit Profile";
    Layout = null;
}
<script>
    $(document.body).on('hidden.bs.modal', function () {
        $('#siteModal').removeData('bs.modal')
    });
</script>
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <h4 class="modal-title" id="myModalLabel"><span class="glyphicon glyphicon-user"></span> @ViewBag.Title</h4>
</div>
@using (Html.BeginForm("userEdit", "Explore", new { userId = Model.bikeUserId }, FormMethod.Post, new { }))
{
    <div class="modal-body">
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true)
            <div class="form-group">
                <label class="control-label col-md-3">User Name:</label>
                <div class="col-md-9">
                    <div class="input-group">
                        <input class="form-control" disabled value="@Model.userName" />
                        <div class="input-group-addon"><abbr title="Your username is set by your institution, and can't be changed."><span class="glyphicon glyphicon-lock"></span></abbr></div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.email, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    <input class="form-control" type="text" id="email" value="@Model.email" name="email"/>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.phoneNumber, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    <input class="form-control" type="tel" id="phoneNumber" value="@Model.phoneNumber" name="phoneNumber" />
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer text-right">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" value="Save" class="btn btn-primary" role="button"><span class="glyphicon glyphicon-save"></span> Save</button>
    </div>
}
